.blog-section {
  padding-top: 170px;
  .list-of-news {

  }
}

.ets-more-section {
  margin-top: 3rem;

  a {
    position: relative;
    padding-left: 22px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-top: solid 1px white;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: white;
  }  

  > a:hover {
    cursor: pointer;
  }

  > a::before {
    content: '';
    position: absolute;
    background-image: url("../img/down-arrow.svg");
    background-size: 12px;
    top: 0;
    left: 4px;
    width: 12px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.single-blog-content {
  background-color: white;
  color: #3C3C3C;
  text-align: left;
  position: relative;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 44px;
  margin-bottom: 70px;;
  overflow: hidden;

  @media (max-width: 777px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.single-blog-content p,
.single-blog-content h1,
.single-blog-content h2,
.single-blog-content h3,
.single-blog-content a,
.single-blog-content .text-img,
.single-blog-content .text-description {
  color: #3C3C3C !important;
}